div {
  width: 100%;
  background-image: linear-gradient(red, yellow, green);
}

@media only screen and (max-width: 572px) {
  div {
    width: 70%;
  }
}
@media screen and (min-width: 682px) {
  div {
    width: 90%;
  }
}

@media only print and (min-width: 768px) {
  div {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  div {
    width: 70%;
  }
}
